@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: "Lato";
    background-color: #d1ffea;
}

h1 {
    font-size: 6rem;
    font-weight: 700;
    text-align: center;
    opacity: 0.6;
    margin: 2rem 0;
}

.todo-form {
    margin: auto;
    width: 50vw;
    max-width: 100%;
    box-shadow: 3px 2px 3px 0 #c5c5c5;
}

.todo-input {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0.3rem 0.5rem;
    font-size: 1.8rem;
    border: none;
}

input:enabled {
    outline: none;
}

.todo-input::placeholder {
    color: #d1d1d1;
}

.todo-list {
    list-style-type: none;
    font-size: 1.3rem;
    margin: 0;
    padding: 0;
    background-color: white;
}

.todo-list li {
    padding: 0.5rem 0.5rem;
    border-top: 1px solid #d1d1d1;
    display: flex;
    flex-direction: row;
    align-items: center;
}

input [type=checkbox] {
    margin-left: 0;
    margin-right: 5px;
    cursor: pointer;
}

.checked {
    text-decoration: line-through;
    color: #acaaaa;
}

.delete {
    margin: auto;
    width: max-content;
    text-align: center;
    color: rgb(223, 0, 0);
    cursor: pointer;
    margin-top: 10px;
    font-size: 0.8rem;
    display: none;
}

label {
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 7rem;
        margin: 1rem 0;
    }
    
    .todo-form {
        width: 80vw;
        box-shadow: 3px 2px 3px 0 #c5c5c5;
    }
    
    .todo-input {
        margin: 0;
        font-size: 2.5rem;
    }

    .todo-list li {
        font-size: 2rem;
        font-weight: 500;
    }

    .delete {
        font-size: 1.5rem;
    }
}